<div class='alert alert-info fade in' data-alert='alert'>
   <h3>Home</h3>
</div>
<% if @current_user %>
   <div class='alert alert-info fade in' data-alert='alert'>
      <h3>Hello: <%= @current_user.name %></h3>
   </div>
<% end %>