<table class="table">
   <thead>
     <tr>
       <th>Name</th>
       <th>Actions</th>      
     </tr>
   </thead>
   <tbody>
      <% @users.each do |user| %>         
         <tr>
            <td>
               <%= link_to user.name, user_path(user)%>
            </td>
            <td>
            </td>
         </tr>
      <% end %>
   </tbody>
</table>